/*Navbar Estilo*/

.navbar img{
    width: 60px;
}

.navbar-nav {
    padding: 5px 0;
}

#navbar a {
    font-size: 15px;
    color: #e4d1d1;
}

#navbar a:hover {
    color: #F2A340;
}

/* Fonte Padrão da Pagina*/

* {
    font-family: 'Bona Nova', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#index-title{
    font-size: 100px;
    color: black;
    font-family: 'Akronim', cursive;
    position: relative;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#index-sub{
    font-family: 'Italianno', cursive;;
    font-size: 45px;
    position: relative;
    color: #2c2c2c;
    top: 280px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

/*Footer da Página */

footer{
    position: fixed;
    text-align: center;
    color: #e4d1d1;
    background: linear-gradient(#0d0804, #030003);
    opacity: 80%;
    height: 59px;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

footer:hover{
    color: #F2A340;
}

/*Linhas <hr>*/
.linha-index{
    position: absolute;
    top: 45%;
    width: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.info-linha{
    position: relative;
    top: 38px;
    right: 24%;
    transform: translate(0, -30%);
}

.linha-v{
    position: relative;
    top: 85px;
    left: 70%;
    transform: rotate(90deg);
    float: left;
    
}

/*Div index page*/

#params-container{
    position: relative;
    top: 250px;
    left: 76%;
    width: 100%;
    transform: translate(-50%);
    padding: 0;
}

#cards-container{
    background-color: none;
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    width: 100%;

}

.card{
    margin-top: 20px;
    margin-right: 30px;
    width: 290px;
    height: 330x;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    background-color: rgb(19, 13, 13);
    padding: 0;

}

.card a {
    text-decoration: none;

}

.card p{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Italianno', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.card img{
    transform: translate3d(0px, 7px, 6px);
    justify-content: center;
    width: 90%;
    height: 220px;
    border-radius: 20%;

}

.icons{
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 95%;
}

/*Hovers */

.card a:hover{
    color: #F2A340;
}

.card p:hover{
    color: #F2A340;
}

/*Divs Info Page*/

#title-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    top: 60px;
    right: 15%;
   
}

#title-container h1{
    font-size: 55px;
    color: black;
    font-family: 'Akronim', cursive;
}

.info-text{
    position: relative;
    top: 30px;
    left: 10%;
    font-size: 20px;
    color: rgb(92, 92, 92);

}

.info-text p{
    font-family: 'Inconsolata', monospace;
}